body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3b5b5;
}

header {
    background-color: #f04848;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 10px;
}

main {
    padding: 20px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.details-button {
    display: inline-block;
    padding: 10px;
    background-color: #18bbe4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.details-button:hover {
    background-color: #0056b3;
}

.event-details {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

#ticket-quantity {
    width: 60px;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#error-message {
    color: red;
    margin-top: 15px;
}
